### Imports

In [15]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

from acquire import acquire_data
from prepare import the_master_imputer, data_prep, percent_of_values_missing, change_data_to_int, change_data_to_object
from set_counties import create_county_cols
from summerize import summarize_data, show_distribution

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Acquire

- using our function from our acquire.py file to import our data from SQL and import it into a csv, drop the Unnamed column and assign it to a data frame
- we also cut outliers but removing any home where their structuretaxvaluedollarcnt was > $1,000,000

In [2]:
df = acquire_data()

Acquiring data ...

- csv already exist

Data has been acquired

## Prepare

- our data_prep function removes any column missing 50% or more of their data as well as any row missing up to 75% of it's data (*We didn't want to waste time strategizing ways to accuratly sum up data missing over 50% of it's values*)

In [3]:
df = data_prep(df)

- the function below tells us what percent of each column is missing

In [4]:
percent_of_values_missing(df)

parcelid                        0.00
logerror                        0.00
transactiondate                 0.00
bathroomcnt                     0.00
bedroomcnt                      0.00
calculatedfinishedsquarefeet    0.10
fips                            0.00
latitude                        0.00
longitude                       0.00
lotsizesquarefeet               0.65
regionidcity                    1.96
regionidcounty                  0.00
regionidzip                     0.04
yearbuilt                       0.16
structuretaxvaluedollarcnt      0.00
taxvaluedollarcnt               0.00
landtaxvaluedollarcnt           0.00
taxamount                       0.01
dtype: float64

- using the_master_imputer function, we will fill all of our missing functions with the median value, for that column's rows (*Since we weren't missing more than 2% of any data, we felt that the median would suffice for the missing values in our dataset*)

In [5]:
df = the_master_imputer(df)

We see that all of our missing values are taken care of

In [6]:
df.isna().sum()

parcelid                        0
logerror                        0
transactiondate                 0
bathroomcnt                     0
bedroomcnt                      0
calculatedfinishedsquarefeet    0
fips                            0
latitude                        0
longitude                       0
lotsizesquarefeet               0
regionidcity                    0
regionidcounty                  0
regionidzip                     0
yearbuilt                       0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
landtaxvaluedollarcnt           0
taxamount                       0
dtype: int64

>now we're going to take our fips # and use that to impute what county our observations were made in using our create_county_cols function and in the process we're going to drop our fips & our regioncounty columns.
fips source: [THIS LINK](https://www.nrcs.usda.gov/wps/portal/nrcs/detail/?cid=nrcs143_013697)

In [7]:
df = create_county_cols(df)

### Lets change our values so we can have less noise in our exploration / modeling phase

- using our change_data_to_object function to change the datatypes of *parcelid*, *regionidcity*, & *regionidzip* to object. (we dont want to do any addition with our unit id's)

In [8]:
cols = ['parcelid', 'regionidzip', 'regionidcity']
df = change_data_to_object(df, cols)

- using our change_data_to_int function to change the datatypes of *yearbuilt*, *latitude*, *longitude*, *lotsizesquarefeet*, *calculatedfinishedsquarefeet*, & *bedroomcnt* to change these datatypes from float's to integers to make the data more exclusive

In [11]:
cols = ['yearbuilt', 'latitude', 'longitude', 'lotsizesquarefeet', 'calculatedfinishedsquarefeet', 'bedroomcnt' ]
df = change_data_to_int(df, cols)

### We're going summarize what our data looks like
- this functions runs a .info, a .describe and a .shape on our data and returns it in a pandas series

In [14]:
summarize_data(df)

******** Info
<class 'pandas.core.frame.DataFrame'>
Int64Index: 51586 entries, 0 to 51585
Data columns (total 19 columns):
logerror                        51586 non-null float64
transactiondate                 51586 non-null object
bathroomcnt                     51586 non-null float64
structuretaxvaluedollarcnt      51586 non-null float64
taxvaluedollarcnt               51586 non-null float64
landtaxvaluedollarcnt           51586 non-null float64
taxamount                       51586 non-null float64
LA                              51586 non-null uint8
Orange                          51586 non-null uint8
Ventura                         51586 non-null uint8
parcelid                        51586 non-null object
regionidzip                     51586 non-null object
regionidcity                    51586 non-null object
yearbuilt                       51586 non-null int64
latitude                        51586 non-null int64
longitude                       51586 non-null int64
lotsizesquarefeet               51586 non-null int64
calculatedfinishedsquarefeet    51586 non-null int64
bedroomcnt                      51586 non-null int64
dtypes: float64(6), int64(6), object(4), uint8(3)
memory usage: 6.8+ MB

******** Shape (51586, 19)

******** Describe
<bound method NDFrame.describe of        logerror transactiondate  bathroomcnt  structuretaxvaluedollarcnt  \
0      0.025595      2017-01-01          3.5                    485713.0
1      0.055619      2017-01-01          1.0                     88000.0
2      0.005383      2017-01-01          2.0                     85289.0
3     -0.103410      2017-01-01          3.0                    108918.0
4     -0.001011      2017-01-01          3.0                    276684.0
...         ...             ...          ...                         ...
51581  0.020615      2017-09-20          2.0                     70917.0
51582  0.013209      2017-09-21          2.0                     50683.0
51583  0.037129      2017-09-21          1.0                     32797.0
51584  0.007204      2017-09-25          2.0                    140000.0
51585 -0.197755      2018-05-25          2.0                     77118.0

       taxvaluedollarcnt  landtaxvaluedollarcnt  taxamount  LA  Orange  \
0              1023282.0               537569.0   11013.72   0       1
1               464000.0               376000.0    5672.48   0       0
2               564778.0               479489.0    6488.30   0       1
3               145143.0                36225.0    1777.51   1       0
4               773303.0               496619.0    9516.26   1       0
...                  ...                    ...        ...  ..     ...
51581           354621.0               283704.0    4478.43   1       0
51582            67205.0                16522.0    1107.48   0       0
51583            49546.0                16749.0     876.43   1       0
51584           522000.0               382000.0    6317.15   1       0
51585           259334.0               182216.0    3345.78   1       0

       Ventura  parcelid regionidzip regionidcity  yearbuilt  latitude  \
0            0  14297519       96978        53571       1998  33634931
1            1  17052889       97099        13091       1967  34449266
2            0  14186244       97078        21412       1962  33886168
3            0  12177905       96330       396551       1970  34245180
4            0  12095076       96293        47019       1950  34145202
...        ...       ...         ...          ...        ...       ...
51581        0  11000655       96284        12447       1940  34245368
51582        1  17239384       97116        27110       1964  34300140
51583        0  12773139       96480        36502       1954  34040895
51584        0  12826780       96171        14634       1955  33937685
51585        0  13083743       96488       118217       1960  34010864

       longitude  lotsizesquarefeet  calculatedfinishedsquarefeet  bedroomcnt
0     -117869207               4506                          3100           4
1     -119281531              12647                          1465           2
2     -117823170               8432                          1243           3
3     -118240722              13038                          2376           4
4     -118179824              63000                          2962           4
...          ...                ...                           ...         ...
51581 -118282383              47405                          1286           2
51582 -118706327              12105                          1612           4
51583 -118038169               5074                          1032           3
51584 -117996709               6347                          1762           3
51585 -117900894               5927                          1050           3

[51586 rows x 19 columns]>

******** Value Counts
(-0.688, 0.304]    50137
(0.304, 1.296]      1190
(-1.68, -0.688]      101
(1.296, 2.287]        75
(2.287, 3.279]        54
                   ...
(7.0, 8.4]            12
(8.4, 9.8]             6
(11.2, 12.6]           3
(9.8, 11.2]            2
(12.6, 14.0]           1
Length: 52431, dtype: int64

## preprocessing