### Imports

In [3]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

import acquire
import prepare

from wrangle_zillow import

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Acquire

- using our function from our acquire.py file to import our data from SQL and import it into a csv, drop the Unnamed column and assign it to a data frame
- we also cut outliers but removing any home where their structuretaxvaluedollarcnt was > $1,000,000

In [12]:
df = acquire.acquire_data()

Acquiring data ...

- zillow_data.csv successfully created

Data has been acquired

## Prepare

- using our data_prep function removes any column missing 50% or more of their data as well as any row missing up to 75% of it's data

In [24]:
df = prepare.data_prep(df)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51586 entries, 0 to 51585
Data columns (total 18 columns):
logerror                        51586 non-null float64
transactiondate                 51586 non-null object
bathroomcnt                     51586 non-null float64
bedroomcnt                      51586 non-null float64
calculatedfinishedsquarefeet    51536 non-null float64
latitude                        51586 non-null float64
longitude                       51586 non-null float64
lotsizesquarefeet               51253 non-null float64
regionidcity                    50574 non-null float64
regionidcounty                  51586 non-null float64
yearbuilt                       51502 non-null float64
structuretaxvaluedollarcnt      51586 non-null float64
taxvaluedollarcnt               51586 non-null float64
landtaxvaluedollarcnt           51586 non-null float64
taxamount                       51583 non-null float64
parcelid                        51586 non-null object
fips                            51586 non-null object
regionidzip                     51565 non-null object
dtypes: float64(14), object(4)
memory usage: 7.5+ MB

- using our change_data_to_object function to change the datatypes of *parcelid*, *fips*, & *regionidzip* to object

In [15]:
cols = ['parcelid', 'fips', 'regionidzip']
df = prepare.change_data_to_object(df, cols)

- using our change_data_to_int function to change the datatypes of *yearbuilt*, *latitude*, *longitude*, *lotsizesquarefeet*, *calculatedfinishedsquarefeet*, & *bedroomcnt*

In [22]:
cols = ['yearbuilt', 'latitude', 'longitude', 'lotsizesquarefeet', 'calculatedfinishedsquarefeet', 'bedroomcnt' ]
df = prepare.change_data_to_int(df, cols)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [20]:
df.sample()

,logerror,transactiondate,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidneighborhood,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,parcelid,fips,regionidzip
37370,0.064817,2017-07-11,3.0,3.0,1990.0,34180811.0,-118111624.0,8302.0,30187.0,3101.0,NaN,1924.0,44918.0,74919.0,30001.0,1234.1,12170646,6037,96265