In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

from acquire import acquire_data
from prep import split_my_data, save_train_test_validate

split into test/train (and validate if you desire)

scale numeric data

feature engineering: create a new feature out of multiple variables, select/reduce variables for features (manually and/or through feature selection methods), bin variables for new features, etc. You will not necessary use all of these methods.

(Bonus) preprocessing.py: functions to do all the the above, and run functions in notebook.

In [2]:
df = acquire_data()

Acquiring data ...

- csv already exist

Data has been acquired

In [3]:
train, test, validate = split_my_data(df, test_pct=.3, validate_pct=.5)

In [4]:
train.shape, test.shape, validate.shape

((36110, 19), (7738, 19), (7738, 19))

In [6]:
train, validate = save_train_test_validate(train, test, validate)

- train, test, validate csv files created

In [7]:
train.shape, validate.shape

((36110, 19), (7738, 19))

In [8]:
train

,parcelid,logerror,transactiondate,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidneighborhood,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount
0,12440706,-0.011612,2017-01-13,2.0,4.0,1590.0,6037.0,33813689.0,-118106265.0,5723.0,46298.0,3101.0,276606.0,96242.0,1953.0,109617.0,272638.0,163021.0,3435.27
1,13041833,0.025684,2017-08-29,3.0,4.0,1873.0,6037.0,34132996.0,-117844772.0,9503.0,11626.0,3101.0,NaN,96486.0,1955.0,113904.0,520114.0,406210.0,6067.35
2,11321955,-0.008172,2017-06-14,4.0,5.0,3776.0,6037.0,34638442.0,-118250927.0,15157.0,40227.0,3101.0,NaN,97329.0,2008.0,308100.0,409000.0,100900.0,6404.59
3,11309866,-0.008772,2017-06-02,1.0,3.0,1224.0,6037.0,34663457.0,-117823767.0,57717.0,5534.0,3101.0,NaN,97318.0,1957.0,23404.0,33805.0,10401.0,549.68
4,14233528,0.028426,2017-06-22,2.5,3.0,1933.0,6059.0,33796457.0,-117788161.0,3510.0,33252.0,1286.0,NaN,97067.0,1996.0,194541.0,323312.0,128771.0,3614.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36105,10802089,-0.015854,2017-03-28,2.0,3.0,1370.0,6037.0,34169107.0,-118528037.0,5552.0,12447.0,3101.0,47950.0,96379.0,1954.0,60755.0,303799.0,243044.0,3755.41
36106,13959503,0.004853,2017-01-06,2.0,3.0,1298.0,6059.0,33769343.0,-117909299.0,7200.0,24832.0,1286.0,NaN,97050.0,1955.0,29447.0,51859.0,22412.0,993.78
36107,17272231,-0.003693,2017-07-17,3.0,4.0,2465.0,6111.0,34198826.0,-118918665.0,5487.0,34278.0,2061.0,46736.0,96351.0,1998.0,340618.0,567695.0,227077.0,6166.76
36108,10973520,0.086866,2017-03-10,2.0,4.0,1466.0,6037.0,34287031.0,-118414785.0,6262.0,12447.0,3101.0,40215.0,96366.0,1958.0,121702.0,171412.0,49710.0,2167.62
36109,12271774,-0.063525,2017-09-08,2.0,3.0,1329.0,6037.0,33904429.0,-118235026.0,4993.0,24174.0,3101.0,NaN,96092.0,1924.0,142496.0,233425.0,90929.0,4224.40